.container {
  display: grid;
  grid-template-columns: repeat(3, 50px);
}

.cell {
  border: 1px solid black;
  height: 50px;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
